//Base
@import 'base/normalize';
@import 'base/globales';
@import 'base/variables';
@import 'base/mixins';
@import 'base/utilidades';
@import 'base/botones';
@import 'base/formularios';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/seccion1';
@import 'layout/seccion2';
@import 'layout/seccion3';
@import 'layout/nosotros';
@import 'layout/curso';
@import 'layout/accordion';
@import 'layout/universidad';